.box {
  border: 1px solid rgb(197, 197, 197);
  border-radius: 20px;
  margin: 20px 0px 0px 0px;
  padding: 30px;
}

.quote {
  margin: 1rem 1rem;
  min-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
